\documentclass[10.5pt,letterpaper]{article}
\usepackage[margin=0.75in]{geometry}
\usepackage{enumitem}
\usepackage{titlesec}
\usepackage{hyperref}
\usepackage{xcolor}

\definecolor{navy}{HTML}{1F3864}
\titleformat{\section}{\large\bfseries\color{navy}}{}{0em}{}[\titlerule]
\titlespacing*{\section}{0pt}{10pt}{6pt}
\pagenumbering{gobble}
\setlist[itemize]{leftmargin=1.2em, itemsep=1pt, topsep=2pt}

\begin{document}

\begin{center}
  {\Huge \bfseries \color{navy} ((( name ))) }\\[2pt]
  {\large ((( headline ))) }\\[4pt]
  {\small ((( email ))) \;|\; \href{https://((( github )))}{((( github )))} \;|\; \href{https://((( portfolio )))}{((( portfolio )))} }
\end{center}

\section*{Professional Summary}
((( summary )))

\section*{Relevant Skills for This Role}
((( matched_skills | join(', ') )))

\section*{Full Technical Skills}
((* for category, skills in skills_by_category.items() *))
\textbf{((( category ))):} ((( skills | join(', ') )))\\
((* endfor *))

\section*{Education}
\textbf{((( education[0].school )))} \hfill ((( education[0].location ))) \\
\textit{((( education[0].degree )))} \hfill \textit{((( education[0].dates )))}

\medskip
\textbf{((( education[1].school )))} \hfill ((( education[1].location ))) \\
\textit{((( education[1].degree )))} \hfill \textit{((( education[1].dates )))}

\section*{Experience}
((* for job in experience *))
\textbf{((( job.company )))} \hfill \textit{((( job.dates )))} \\
\textit{((( job.role )))}
\begin{itemize}
((* for bullet in job.bullets *))
  \item ((( bullet )))
((* endfor *))
\end{itemize}
((* endfor *))

\section*{Projects}
((* for project in projects *))
\textbf{((( project.name )))} \hfill \textit{((( project.date )))} \\
\textit{((( project.stack )))}
\begin{itemize}
((* for bullet in project.bullets *))
  \item ((( bullet )))
((* endfor *))
\end{itemize}
((* endfor *))

\end{document}
